#bienvenue {
  text-align: justify;
}

.leaflet-control-geocoder-ban-form input {
  line-height: 50px !important;
}

.leaflet-control-geocoder-ban-selected {
  background-color: rgba(128, 204, 40, 0.3) !important;
}

.leaflet-legend {
  border: 2px solid rgb(140, 169, 111) !important;
}

/* Style Pop-Up*/
styleTitre {
  color: rgb(0, 0, 0);
  font-family: "Century Gothic", sans-serif;
  font-style: bold;
  text-align: center;
  text-decoration: underline;
  font-size: 18px
}

styleColonne {
  color: rgb(0, 0, 0);
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  line-height: normal;
}

styleText {
  color: rgb(0, 0, 0);
  font-family: "Century Gothic", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  line-height: normal;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

.upgrade-btn {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background-color: #a0ce92;
  border-radius: 50px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: .3s ease;
}

.upgrade-btn:hover {
  background-color: #0f94d6;
}



/*---------------------------------------------------------------------------------------------------  */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap");



label {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding: 0 0.25em 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}





.Alimentaire_popup .leaflet-popup-content-wrapper,
.Alimentaire_popup .leaflet-popup-tip {
  background-color: #fb8072;

}

.BienEtre_popup .leaflet-popup-content-wrapper,
.BienEtre_popup .leaflet-popup-tip {
  background-color: #fccde5;

}

.EquipementMaison_popup .leaflet-popup-content-wrapper,
.EquipementMaison_popup .leaflet-popup-tip {
  background-color: #8dd3c7;

}

.Textile_popup .leaflet-popup-content-wrapper,
.Textile_popup .leaflet-popup-tip {
  background-color: #80b1d3;
}

.Don_popup .leaflet-popup-content-wrapper,
.Don_popup .leaflet-popup-tip {
  background-color: #ffffb3;

}

.Activite_popup .leaflet-popup-content-wrapper,
.Activite_popup .leaflet-popup-tip {
  background-color: #bebada;

}

.Restauration_popup .leaflet-popup-content-wrapper,
.Restauration_popup .leaflet-popup-tip {
  background-color: #fdb462;

}

.Dechet_popup .leaflet-popup-content-wrapper,
.Dechet_popup .leaflet-popup-tip {
  background-color: #b3de69;

}

.Reparation_popup .leaflet-popup-content-wrapper,
.Reparation_popup .leaflet-popup-tip {
  background-color: #d9d9d9;

}










/* Division de la page en 2 colonnes */
.row {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 67px);
  font-size: 12px;
}

.form-column {
  flex: 1;
  max-width: 22%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  margin-left: 20px;
}

.map-column {
  flex: 3; 
  max-width: 78%;
  height: 100%;
  position: relative;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}





.location-btn_old {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background-color: #a0ce92;
  border-radius: 50px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  transition: .3s ease;
}

.location-btn_old:hover {
  background-color: #0f94d6;
}

.location-btn {
  width: 40%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 10x;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #a0ce92;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
}
.location-btn:hover {background-color: #3e8e41}
.location-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}






ul li {
  /* Assurez-vous que les éléments <li> sont affichés en ligne */
  display: flex;
  align-items: center; /* Aligner les éléments verticalement au centre */
}

ul li button {
  /* Ajouter un espacement entre les boutons */
  margin-right: 10px;
}