<!DOCTYPE html>
<html style="font-size: 16px;">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">

    <title>Les Courses du &#129409; </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Accueil.css') }}" media="screen">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>

    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/nicepage.js') }}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{ url_for('static', filename='js/leaflet.textpath.js') }}" defer=""></script>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet-geocoder-ban.css') }}">
    <script src="{{ url_for('static', filename='js/leaflet-geocoder-ban.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.legend.css') }}">
    <script src="{{ url_for('static', filename='js/leaflet.legend.js') }}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
  <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "PROJET GEONUM",
		"logo": "{{ url_for('static', filename='images/logo.png') }}"
  </script>

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Accueil">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">

  </head>
  
  <body class="u-body u-overlap">
    <!-- balise de récupération des données de postgres pour les transmettre au JS -->
    <div id="getdata" data-markers='{{ markers|tojson }}'></div>

    <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-2b19"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" data-page-id="1702119740" class="u-image u-logo u-image-1" data-image-width="1080" data-image-height="3269" title="Accueil">
          <img src="{{ url_for('static', filename='images/logo.png') }}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-3 u-text-hover-palette-2-base" href="{{ url_for('static', filename='Accueil.html') }}" style="padding: 10px 32px;"><b>Les courses du Lyon</b></a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="{{ url_for('static', filename='Accueil.html') }}" style="padding: 10px 72px;">Les Courses du Lyon</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-2">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-3"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-palette-2-base" href="/Qui-sommes-nous" style="padding: 10px 20px;">Qui sommes nous</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-palette-2-base" href="/Tutoriel" style="padding: 10px 20px;">Tutoriel</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-palette-2-base" href="/A-propos" style="padding: 10px 20px;">A propos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-palette-2-base" href="/Login" style="padding: 10px 20px;">Login</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-4"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Qui-sommes-nous" style="padding: 10px 20px;">Qui sommes nous</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Tutoriel" style="padding: 10px 20px;">Tutoriel</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/A-propos" style="padding: 10px 20px;">A propos</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Login" style="padding: 10px 20px;">Login</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
     <!-- INTERACTION -->
    <section class="u-clearfix u-section-1" id="sec-9ca4">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-custom-color-1 u-layout-cell u-size-60 u-layout-cell-1">
              
              <div class='grid-container-element'>
                
                <div class='grid-child-element'>
                  <div id="course"><b>Choisissez un ou plusieurs type(s) de courses :</b></div>
                  <div id="filtre_course" >
                    {% for nom_categ in categs %}
                        <input type="checkbox" id="choix_commerce" name="settings" value={{ nom_categ }}>
                        <input type="hidden" id="choix_commerce" name="settings" value='none'> 
                        <label for={{ nom_categ }} data-content="{{ nom_categ }}">{{ nom_categ }}</label>
  
                        <br/>
                        {% endfor %}
                  </div>
                </div>
                
                <button id="find_bulle"  class="upgrade-btn grid-child-element">Trouver une bulle de commerce !</button>

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="u-clearfix u-section-2" id="sec-f751">
      <div id="map"></div>
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    
    <script src="{{ url_for('static', filename='js/Accueil.js') }}"></script>
  </body>
</html>




